.navbar {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  left: 0;
  padding: 24px 40px;
  position: fixed;
  right: 0;
  top: 0;
}

.logo {
  height: 32px;
}

.content {
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 144px;
  max-width: 600px;
}

@media (max-width: 600px) {
  .navbar {
    display: none;
  }

  .content {
    margin: 0;
  }
}
