.donationSummary {
  margin-bottom: 32px;
}

.totalAmount {
  align-items: center;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  padding: 0 16px 24px 16px;
}

.label {
  color: #1e2a32;
  font-family: var(--font-work-sans);
  font-size: 20px;
  font-weight: 500;
}

.value {
  color: var(--color-purple-gray);
  font-family: var(--font-inter);
  font-size: 32px;
  font-weight: 700;
}

.infoBox {
  background-color: var(--color-background);
  border-radius: 5px;
  font-family: var(--font-work-sans);
  font-size: 12px;
  font-weight: 400;
  padding: 24px 16px;

  span {
    font-family: var(--font-inter);
    font-weight: 700;
  }
}

@media (max-width: 600px) {
  .donationSummary {
    border-radius: 5px;
    border: 1px solid #e9eef2;
  }

  .totalAmount {
    padding-top: 24px;
  }

  .label {
    font-size: 16px;
  }

  .value {
    font-size: 24px;
  }

  .infoBox {
    text-align: center;
  }
}
