.button {
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Work Sans';
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
  transition: all 0.3s;
}

.primary {
  background-color: var(--color-midnight-purple);
  border: 0 none;
  color: var(--color-white);
}

.primary:hover {
  background-color: #645d93;
}

.primary:active {
  background-color: #241e47;
}

.outline {
  background-color: var(--color-white);
  border: 1px solid var(--color-purple-gray);
  color: var(--color-purple-gray);
}

.outline:hover {
  background-color: #f7f6fe;
}

.outline:active {
  background-color: #ece9fc;
}
