.fields {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 32px;
}

.actions {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
}

.action {
  margin: 8px;
}
