.fields {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 32px;
}

.actions {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
}

.action {
  margin: 8px;
}

@media (max-width: 600px) {
  .fields {
    grid-template-columns: 1fr;
  }

  .actions {
    grid-template-columns: 1fr;
  }

  .action:first-child {
    display: none;
  }
}
